body {
    background-color: #f5f5f5;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd'
    'nav nav'
    'aside main'
    'aside sec'
    'ft ft';
    grid-template-columns: 30% 1fr;
    grid-template-rows: 10rem 3rem 25rem 20rem 7rem;
}

header {
    grid-area: hd;
    background: rgb(123, 60, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
    background: yellow;
    display: flex;
}

nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav a:hover {
    background-color: blue;
    color: darkgoldenrod;
}

aside {
    grid-area: aside;
    background: greenyellow;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

main {
    grid-area: main;
    background: darkcyan;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

section {
    grid-area: sec;
    background: blueviolet;
    margin-bottom: 5px;
    border-radius: 5px;
}

footer {
    grid-area: ft;
    background: turquoise;
}
