body {
    background-color: #f5f5f5;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd'
    'nav nav'
    'sec aside'
    'main main'
    'ft ft';
    grid-template-columns: 70% 1fr;
    grid-template-rows: 10rem 3rem 20rem 25rem 7rem;
}

header {
    grid-area: hd;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav {
    grid-area: nav;
    background: red;
    display: flex;
}

nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav a:hover {
    background-color: blue;
    color: darkgoldenrod;
}

section {
    grid-area: sec;
    background: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

aside {
    grid-area: aside;
    background: green;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

main {
    grid-area: main;
    background: purple;
    margin-bottom: 5px;
    border-radius: 5px;
}

footer {
    grid-area: ft;
    background: white;

}