body {
    background-color: #e67e22;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd'
    'nav nav'
    'div1 div1'
    'main as'
    'div2 div2'
    'sec sec'
    'ft ft';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem 3rem 3rem 25rem 5rem 40rem 7rem;
    column-gap: 5px;
}

header {
    grid-area: hd;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
    background: white;
    display: flex;
    justify-content: space-around;

}

nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
    color: rgb(0, 0, 0);
}

#rec {
    background-color: lightgray;
}

#div1 {
    grid-area: div1;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 5%;
}

#div2 {
    grid-area: div2;
    background-color: lightgray;
    border-radius: 5px;
    border-style: solid;
    
}
main {
    grid-area: main;
    background: lightgray;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

aside {
    grid-area: as;
    background: lightgray;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-style: solid;
}
section {
    grid-area: sec;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin: 10px;
}

.image-container {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    background-color: lightgray;
    border-style: solid; 
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container h2 {
    font-family: "Judson", sans-serif;
    padding-left: 10px;
}


footer {
    grid-area: ft;
    background: lightgray;
}

